{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'logscope/favicon.png' %}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'logscope/bootstrap.css' %}">

    <script src="{% static 'logscope/jquery.js' %}"></script>
    <script src="{% static 'logscope/popper.js' %}"></script>
    <script src="{% static 'logscope/bootstrap.js' %}"></script>

    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'logscope/main.css' %}">

    {% if title %}
        <title>LogScope - {{ title }}</title>
    {% else %}
        <title>LogScope</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-steel">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'logscope-home' %}">LogScope</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Navbar Left Side -->
                    {% if request.user|has_group:"Admins" %}
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url 'passage' %}">Passages</a>
                        </div>
                    {% endif %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Analytics
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'analytics' %}">Launcher & VPN</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'microsoft_analytics' %}">Microsoft</a>
                                <a class="dropdown-item" href="{% url 'usage_by_location' %}">Usage by location</a>
                            </div>
                        </li>
                    </ul>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav ml-auto">
                        {% if request.user|has_group:"Admins" %}
                            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Administration</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url 'wiki' %}">Wiki</a>
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
