{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'logscope/bootstrap.css' %}">
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'logscope/favicon.png' %}"/>

    <title>LogScope</title>
</head>
<body class="bg-dark">
    <main class="container">
        <h1 class="display-1 text-center text-white mb-5">LogScope</h1>
		<div class="card border-dark bg-dark">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="card border-info">
                        <div class="card-body">
                            <h5 class="card-title">Passages</h5>
                            <p class="card-text">An easier way to look for data and export it.</p>
                            <a href="{% url 'passage' %}" class="btn btn-outline-dark btn-block">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="card border-info">
                        <div class="card-body">
                            <h5 class="card-title">Statistics</h5>
                            <p class="card-text">Power BI reports to understand how apps are being used.</p>
                            <a href="{% url 'statistic' %}" class="btn btn-outline-dark btn-block">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="card border-info">
                        <div class="card-body">
                            <h5 class="card-title">Microsoft Analytics</h5>
                            <p class="card-text">App provided by Microsoft that uses Power BI reports.</p>
                            <a href="{% url 'statistic' %}" class="btn btn-outline-dark btn-block">Go</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</main>
</body>
</html>
