{% extends "logscope/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card border-dark mb-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group ml-3 mr-3">
            <legend class="border-nottom mb-4">{% trans "Log in" %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group ml-3">
            <button class="btn btn-outline-info" type="sumbit">{% trans "Login" %}</button>
        </div>
        <div class="border-top pt-3 ml-3 mb-3">
            <p class="text-muted">
                <i>{% trans "Need an account?" %}</i>
                {% trans "Contact the IT department." %}
            </p>
        </div>
    </form>
</div>
{% endblock content %}