{% extends "logscope/base.html" %}
{% block content %}
    <div class="card border-dark">
        <!-- Delete form -->
        <form method="POST" class="ml-3">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Passage</legend>
                <h6>Are you sure you want to delete the passage?</h6>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">YES, DELETE</button>
                <a class="btn btn-outline-secondary" href="{% url 'passage-detail' object.id %}">CANCEL</a>
            </div>
        </form>
    </div>
{% endblock content %}