{% extends "logscope/base.html" %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load bootstrap %}
{% load i18n %}

{% block content %}

<div class="container">
    <form method="GET">
        <div class="card border-info">
            <h6 class="card-header bg-info text-white">{% trans "Search From" %}</h6>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        {{ filter.form.person|bootstrap }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ filter.form.app|bootstrap }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        {{ filter.form.company|bootstrap }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ filter.form.area|bootstrap }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ filter.form.department|bootstrap }}
                    </div>
                </div>
                <div class="card">
                    <div class="form-row ml-2 mt-2 mr-2">
                        <div class="col-md-6">
                            {{ filter.form.start_time_gt|bootstrap }}
                        </div>
                        <div class="col-md-6">
                            {{ filter.form.start_time_lt|bootstrap }}
                        </div>
                    </div>
                    <div class="ml-3 mb-1"
                         style="font-family:arial;font-size:12px;font-style:italic;font-variant:small-caps">
                        {% trans "Date formats allowed: DD-MM-YYYY, DD/MM/YYYY" %}
                    </div>
                </div>
                <button class="btn btn-info mt-2" type="submit">{% trans "Search" %}</button>
            </div>
        </div>
    </form>

    <div class="dropdown">
        <button class="btn btn-success btn-sm dropdown-toggle mt-4 mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Export formats" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{% export_url 'csv' %}" class="dropdown-item">.CSV</a>
            <a href="{% export_url 'json' %}" class="dropdown-item">.JSON</a>
        </div>
    </div>

    <div class="card border-info mb-3">
        {% render_table table %}
        <a class="mb-3"></a>
    </div>
</div>

{% endblock content %}